# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & Secrets
.env
.venv/
env/
venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logging - IGNORE CONTENTS BUT KEEP FOLDER STRUCTURE
logs/*
!logs/.gitkeep
*.log

# IDE Folders
.vscode/
*.code-workspace
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebooks
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json